
.boton {
    color: #ffffff;
    font-family: 'Times New Roman';
    background-color: rgb(120, 55, 180);
    border-radius: 55px;
    width: 100px;
    height: 70px;
    font-size: 12px;
}

.word {
    font-family: 'Times New Roman';
    font-size: 20px
/*loll*/
}

.titulo {
    color:powderblue;
}
.titulo_2 {
    color:floralwhite;
}
