
.contorno {
    color: #ffffff;
    font-family: 'Times New Roman';
    background-color: rgb(118, 215, 228);
}

.size {
    border-radius: 55px;
    font-size: 30px;
    display: inline-block;
    align-items: center;
    padding: 20px 40px;
    text-decoration: none;

}


.word {
    font-family: 'Times New Roman';
    font-size: 20px
}

.titulo {
    color:powderblue;
}
.titulo_2 {
    color:floralwhite;
}
