
.boton{
    color:black;
    border-width: 5px;
    border-left: 10xp;
    border-right: 10px;
}


.titulo {
    color:powderblue;
}

.titulo_2 {
    color:floralwhite;
}

.color {
    background-color: aliceblue;
}

.color_2 {
    background-color: darkslategrey;
}
